# Python environment
.env

# Python virtual environment
.venv

# Python cache files
__pycache__
.ruff_cache

# Conversation histories
conversations/*
!conversations/init.json

/src/output/**

# Allow directory traversal
!/src/output/**/
# Only allow files named 'init' (no extension) at any subdirectory level
!/src/output/**/init